server {
    listen 80;
    server_name localhost;

    # Forward all requests to FastAPI
    location / {
        proxy_pass http://fastapi:8000/;  # Trailing slash مهم
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    # Expose metrics endpoint directly if needed
    location /TrhBVe_m5gg2002_E5VVqS {
        proxy_pass http://fastapi:8000/TrhBVe_m5gg2002_E5VVqS;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }
}