APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY="your-openai-api-key"

FILE_ALLOWED_Types=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512 KB
MONGODB_URL=""
MONGODB_DATABASE=""

##############LLM CONFIGURATION################
GENERATION_BACKEND="OPENROUTER"
EMBEDDING_BACKEND="COHERE"

OPENAI_API_KEY="your-openai-api-key"
OPENAI_API_URL=""
COHERE_API_KEY=""
OPENROUTER_API_URL=""
OPENROUTER_API_KEY=""

GENERATION_MODEL_ID="gpt-4o-mini"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

########VECTOR DB CONFIGURATION##########
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"

############## AZURE OPENAI ################
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""

AZURE_GENERATION_DEPLOYMENT_NAME=""
AZURE_EMBEDDING_DEPLOYMENT_NAME=""

############## Templates ################
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"